# Overview

Python 3 has several types of variables you can use:
- [Integer](#Integer)
- [Complex Integer](#Complex-Integer)
- [Float](#Float)
- [String](#String)
- [Boolean](#Boolean)
- [List](#List)
- [Tuple](#Tuple)
- [Dictionary](#Dictionary)
- [Range](#Range)
- [Slice](#Slice)
- [Type](#Type)
- [None](#None)
- [Set](#Set)

### References

- [Python Language Reference - Data Model](https://docs.python.org/3/reference/datamodel.html)
- [Python 3 - Types](https://docs.python.org/3/library/types.html)

# Integer

In [271]:
x = 2
x

2

In [272]:
type(x)

int

### Arithmetic

In [273]:
x = 2
y = 3

Adding integers results in an integer

In [274]:
z = x + y
print( z )
print( type ( z ) )

5
<class 'int'>

Dividing integers results in a float

In [275]:
z = x / y
print( z )
print( type( z ) )

0.6666666666666666
<class 'float'>

In [276]:
z = x / x
print( z )
print( type( z ) )

1.0
<class 'float'>

### Basic Operations

In [277]:
import math

x = 22.32
x_round = round(x)
x_ceil = math.ceil(x)
x_floor = math.floor(x)
x_sqrt = math.sqrt(x)

print( "round( %f ) = %d" %( x, x_round ) ) # Round
print( "ceil( %f ) = %d" %( x, x_ceil ) ) # Ceil
print( "floor( %f ) = %d" %( x, x_floor ) ) # Floor
print( "math.sqrt( %f ) = %f" %( x, x_sqrt ) ) # Square Root
print( "%f ** 2 = %f" %( x, x ** 2 ) ) # Cube
print( "%f ** 3 = %f" %( x, x ** 3 ) ) # Square
print( '%f %% 3 = %f' %( x, x % 3 ) ) # Escape % with %%

round( 22.320000 ) = 22
ceil( 22.320000 ) = 23
floor( 22.320000 ) = 22
math.sqrt( 22.320000 ) = 4.724405
22.320000 ** 2 = 498.182400
22.320000 ** 3 = 11119.431168
22.320000 % 3 = 1.320000

# Complex Integer

In [278]:
x = 3.14j
x

3.14j

In [279]:
type(x)

complex

# Float

In [280]:
x = 2.5
x

2.5

In [281]:
type(x)

float

# String

In [282]:
x = "this is a string"
x

'this is a string'

In [283]:
type(x)

str

### Quotes and String Concatenation

In [284]:
x = "first" # Double quote
y = ' second ' # Single quote
print( x + y ) # Must provide parens with print(), didn't previously in Python 2.x

first second

### Concatenate number to string

In [285]:
x = "string "
y = 23.23

print( x + str( y ) )

string 23.23

### Interpolation

In [286]:
x = "first" # Double quote
y = ' second ' # Single quote
z = f'{ x }{ y }' # tick
g = "%6.4f" % 22.32
h = "%2d %2.2f" % ( 33.23, 22.32 )
s = "%s" % "string" # this calls str()
b = "%r" % True # this calls repr()

print( z )
print( g )
print( h )
print( s )
print( b )

first second
22.3200
33 22.32
string
True

# Boolean

In [287]:
x = True
y = False
print( x )
print( y )
print( type( y ) )

True
False
<class 'bool'>

In [288]:
x

True

In [289]:
y

False

In [290]:
type(y)

bool

### Logical Operators

**Numeric**

In [291]:
x = 10
y = 20

print( "%d < %d = %r" % ( x, y, x < y ) )
print( "%d > %d = %r" % ( x, y, x > y ) )
print( "%d == %d = %r" % ( x, y, x == y ) )
print( "%d != %d = %r" % ( x, y, x != y ) )
print()
print( "%d < %d = %r" % ( x, x, x < x ) )
print( "%d > %d = %r" % ( x, x, x > x ) )
print( "%d == %d = %r" % ( x, x, x == x ) )
print( "%d != %d = %r" % ( x, x, x != x ) )
print()
print( "%d and %d = %r" % ( x, y, x and y ) )
print( "%d or %d = %r" % ( x, y, x or y ) )
print( "not %d = %r" % ( y, not y ) )
print( "not not %d = %r" % ( y, not not y ) )

10 < 20 = True
10 > 20 = False
10 == 20 = False
10 != 20 = True

10 < 10 = False
10 > 10 = False
10 == 10 = True
10 != 10 = False

10 and 20 = 20
10 or 20 = 10
not 20 = False
not not 20 = True

**Boolean**

In [292]:
x = True
y = False

print( "%r and %r = %r" % ( x, y, x and y ) ) # AND
print( "%r or %r = %r" % ( x, y, x or y ) ) # OR
print( "not %r = %r" % ( x, not x ) ) # NOT

True and False = False
True or False = True
not True = False

**Bitwise**

In [293]:
x = 22
y = 2

print( "%d & %d = %d" % ( x, y, x & y ) ) # Bitwise AND
print( "%d | %d = %d" % ( x, y, x | y ) ) # Bitwise OR
print( "%d ^ %d = %d" % ( x, y, x ^ y ) ) # Bitwise XOR
print( "%d << %d = %d" % ( x, y, x << y ) ) # Bitwise left shift
print( "%d >> %d = %d" % ( x, y, x >> y ) ) # Bitwise right shift
print( "~%d = %d" % ( x, ~x ) ) # Bitwise NOT
print( "~~%d = %d" % ( x, ~~x ) ) # Bitwise NOT

22 & 2 = 2
22 | 2 = 22
22 ^ 2 = 20
22 << 2 = 88
22 >> 2 = 5
~22 = -23
~~22 = 22

### References

- [Notes about booleans and logical operators](https://thomas-cokelaer.info/tutorials/python/boolean.html)

# List

In [294]:
x = [1,2,3]

In [295]:
x

[1, 2, 3]

In [296]:
type(x)

list

In [297]:
list

list

### Basic Operations

**list.append()**

In [298]:
z = [ 1, 2 ]

list.append( z, 5 ) 
print( z )

z.append( 6 )
print( z )

[1, 2, 5]
[1, 2, 5, 6]

**list.insert()**

In [299]:
z = [ 1, 2, 3, 4, 5, 6 ]

list.insert( z, 3, 42 )
print( z )

z.insert( 6, 33 )
print( z )

[1, 2, 3, 42, 4, 5, 6]
[1, 2, 3, 42, 4, 5, 33, 6]

**list.slice()**

In [300]:
z = [ 1, 2, 3, 4, 5, 6 ]
print( z[ slice( 2, 5 ) ] )
print( z )

[3, 4, 5]
[1, 2, 3, 4, 5, 6]

### Length

In [301]:
x = [ 1, 2, 3 ]
len( x )

3

### Mixed Types

In [302]:
x = [ 'asdf', 2, 3.4, [ 2, 3, 4 ], range( 8 ) ]
x

['asdf', 2, 3.4, [2, 3, 4], range(0, 8)]

### Conversion From Range

In [303]:
x = list( range( 1, 8 ) )
x

[1, 2, 3, 4, 5, 6, 7]

### Conversion From Dictionary

In [343]:
x = { 'foo': 'bar', 'cat': 'dog' }
print( list( x ) )

['foo', 'cat']

### Slicing

In [376]:
x = [ 1, 2, 3, 4, 5, 6, 7 ]
print( x )

print( 'x[ 2  :  3      ] = ', x[ 2 : 3 ] )
print( 'x[ 2  :         ] = ', x[ 2 : ] )
print( 'x[    :  3      ] = ', x[ : 3 ] )
print( 'x[ -2 :         ] = ', x[ -2 : ] )
print( 'x[    : -2      ] = ', x[ : -2 ] )
print( 'x[ -5 : -2      ] = ', x[ -5 : -2 ] )
print( 'x[  1 :  5      ] = ', x[ 1 : 5 ] )
print( 'x[  1 :  5 :  1 ] = ', x[ 1 : 5 : 1 ] )
print( 'x[  1 :  5 :  2 ] = ', x[ 1 : 5 : 2 ] )
print( 'x[  1 :  5 :  3 ] = ', x[ 1 : 5 : 3 ] )
print( 'x[  1 :  5 :  4 ] = ', x[ 1 : 5 : 4 ] )
print( 'x[    :    :  3 ] = ', x[ ::3 ] )
print( 'x[    :    : -1 ] = ', x[ ::-1 ] )
print( 'x[    :    : -3 ] = ', x[ ::-3 ] )

[1, 2, 3, 4, 5, 6, 7]
x[ 2  :  3      ] =  [3]
x[ 2  :         ] =  [3, 4, 5, 6, 7]
x[    :  3      ] =  [1, 2, 3]
x[ -2 :         ] =  [6, 7]
x[    : -2      ] =  [1, 2, 3, 4, 5]
x[ -5 : -2      ] =  [3, 4, 5]
x[  1 :  5      ] =  [2, 3, 4, 5]
x[  1 :  5 :  1 ] =  [2, 3, 4, 5]
x[  1 :  5 :  2 ] =  [2, 4]
x[  1 :  5 :  3 ] =  [2, 5]
x[  1 :  5 :  4 ] =  [2]
x[    :    :  3 ] =  [1, 4, 7]
x[    :    : -1 ] =  [7, 6, 5, 4, 3, 2, 1]
x[    :    : -3 ] =  [7, 4, 1]

### Indexing

In [304]:
x = [ 1, 2, 3, 4, 5, 6, 7 ]
print( 'x[ 0 ] = ', x[0])
print( 'x[ 1 ] = ', x[1])
print( 'x[ 2 ] = ', x[2])

x[ 0 ] =  1
x[ 1 ] =  2
x[ 2 ] =  3

### References

- [The Python Tutorial - Data Structures](https://docs.python.org/3/tutorial/datastructures.html)

# Tuple

In [305]:
x = (1, 'string', 2.5)
x

(1, 'string', 2.5)

In [306]:
type(x)

tuple

### Convert List to Tuple

In [307]:
l = [ 1, 2, 3, "a", "b", "c" ]

t = tuple( l )

print(l)
print(t)

[1, 2, 3, 'a', 'b', 'c']
(1, 2, 3, 'a', 'b', 'c')

### Packing / Unpacking

In [308]:
t = 'a', 'b', 32 # Packing
print( t )

x, y, z = t # Unpacking
print( x, y, z )

('a', 'b', 32)
a b 32

# Dictionary

In [309]:
x = { "key": 1 }
x

{'key': 1}

In [310]:
type(x)

dict

### Empty Dictionary

In [333]:
z = {}
print( z )
print( type( z ) )

{}
<class 'dict'>

### Looking Up a Key

In [338]:
k = { 'foo': 'bar', 'cat': 'dog' }
print( k[ 'foo' ] )

bar

# Range

In [311]:
x = range( 8 )
x

range(0, 8)

In [312]:
type(x)

range

# Slice

In [313]:
x = slice( 2, 4 )
x

slice(2, 4, None)

In [314]:
type( x )

slice

### Slicing an Array

In [315]:
s = slice( 2, 4 )
x = [ 1, 2, 3, 4, 5, 6, 7, 8 ]

print( x[ s ] )

[3, 4]

### Slice Operator

In [316]:
x = [ 1, 2, 3, 4, 5, 6, 7, 8 ]
print( x[ 2:4 ] )

[3, 4]

# Type

In [317]:
type( type )

type

# None

In [318]:
type( None )

NoneType

# Set

In [323]:
z = { 'a', 'b', 1, 2, 34.29 }
z

{1, 2, 34.29, 'a', 'b'}

In [324]:
type(z)

set

### Convert String to Set

In [337]:
z = set( 'asdf' )
z

{'a', 'd', 'f', 's'}

### Empty Set

In [335]:
z = set()
z

set()

In [336]:
z = {}
z
print( type( z ), "is not a set" )

<class 'dict'> is not a set

### Basic Operators

In [344]:
a = set( 'asdfghjkl;' )
b = set( 'sdfl;' )

In [345]:
a - b

{'a', 'g', 'h', 'j', 'k'}

In [347]:
a | b

{';', 'a', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 's'}

In [348]:
a & b

{';', 'd', 'f', 'l', 's'}

In [349]:
a ^ b

{'a', 'g', 'h', 'j', 'k'}